<footer>
  <div class="container">
    <div class="province">
      <h2 class="city">TP. Hồ Chí Minh</h2>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h3 class="place">Trụ sở: 112 Cao Thắng, Quận 3</h3>
          <ul class="info">
            <li>Hotline: 096.105.1014 – 077.886.1911</li>
            <li>Địa chỉ: Tầng 5, toà nhà Suri, 112 Cao Thắng, Quận 3, TPHCM</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h3 class="place">459 Sư Vạn Hạnh, Quận 10</h3>
          <ul class="info">
            <li>Hotline: 096.105.1014 – 077.886.1911</li>
            <li>
              Địa chỉ: Tầng 2, toà nhà WinHome, 459 Sư Vạn hạnh, Quận 10, TPHCM
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h3 class="place">82 Ung Văn Khiêm, Bình Thạnh</h3>
          <ul class="info">
            <li>Hotline: 096.105.1014 – 077.886.1911</li>
            <li>Địa chỉ: 82 Ung Văn Khiêm, Bình Thạnh, TPHCM</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h3 class="place">
            110 Đường số 10, Park Hill City Land, Phan Văn Trị, Gò Vấp
          </h3>
          <ul class="info">
            <li>Hotline: 096.105.1014 – 077.886.1911</li>
            <li>
              Địa chỉ: 110 Đường số 10, Park Hill City Land, Phan Văn Trị, Gò
              Vấp, TPHCM
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h3 class="place">56 Lê Cảnh Tuân, Tân Phú</h3>
          <ul class="info">
            <li>Hotline: 096.105.1014 – 077.886.1911</li>
            <li>Địa chỉ: 56 Lê Cảnh Tuân, Tân Phú, TPHCM</li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h3 class="place">
            6C Đường số 8, Linh Tây, Thủ Đức (gần ĐH Cảnh Sát)
          </h3>
          <ul class="info">
            <li>Hotline: 096.105.1014 – 077.886.1911</li>
            <li>Địa chỉ: 6C Đường số 8, Linh Tây, Thủ Đức, TPHCM</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="province">
      <h2 class="city">Đà nẵng</h2>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <h3 class="place">103 Nguyễn Hữu Dật, Hải Châu</h3>
          <ul class="info">
            <li>Hotline: 096.105.1014 – 077.886.1911</li>
            <li>Địa chỉ: 103 Nguyễn Hữu Dật, Hải Châu, ĐN</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
