.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  .navbar {
    padding: 0 1rem;
    background-color: rgba($color: #000000, $alpha: 0.9);
  }
  .navbar-toggler {
    border-color: #ffff;

    .icon-menu {
      color: #ffff;
    }
  }
  .logo-cybersoft {
    max-height: 55px;
  }
  .collapse {
    justify-content: center;
  }
  .login {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .nav-item {
    position: relative;
    .line {
      position: absolute;
      bottom: 0;
      height: 3px;
      background-image: linear-gradient(
        to left,
        #227df9 0%,
        #7462f9 50%,
        #df3ef8 100%
      );
      width: 0%;

      transition: all 0.3s;
    }
    &:hover .line {
      width: 100%;
    }
  }
  .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  .btn-outline-primary {
    margin: 0 2px;
    color: #fff;
    border-color: #fff;
    &:hover {
      background-color: transparent;
      opacity: 0.8;
    }
  }
}
.info {
  padding-right: 8px;
  border-right: 1px solid white;
}

.logout {
  padding-left: 8px;
  cursor: pointer;
}

@media (max-width: 1240px) {
  .header {
    .nav-link {
      font-size: 14px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .login {
      position: relative;
      right: unset;
      top: unset;
      transform: unset;
    }
  }
}

@media (max-width: 576px) {
  .info {
    img {
      display: none;
    }
    h3 {
      font-size: 14px;
    }
  }
  .logout {
    h3 {
      font-size: 14px;
    }
  }
}
